.queue-window
    h2 Tasks
    .queue-controls
        p
            a(href="#")#next.queue-shift next
    - const index = Object.keys(classes).indexOf(user.group_type)
    #slide.queue-slide(data-index=index)
        each tasks, group_type in queues
            .queue(data-type=group_type)
                .topper
                each task in tasks
                    - const expirDate = new Date(task.set_active + (task.expires * 24 * 60 * 60 * 1000));
                    .task(class= task.is_head ? 'head' : '', data-expires=expirDate.valueOf() )
                        h3= task.title
                        p=  task.descr
                        footer
                            small #{task.is_head ? new Date(task.expires) : null}
